body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  block-size: fit-content;
  flex-basis: 30%;
  border-radius: 15px;
  box-shadow: 0px 0px 5px #888888;
  background: rgb(245, 244, 244);
  padding: 10px;
  color: black;
}

.cardHeader {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 5px;
}

.cardHeader img,
.commentBlock img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

img {
  height: 20vw;
  object-fit: cover;
  margin: 10px;
}

.commentBlock {
  display: flex;
  justify-content: left;
}

.commentLikeShare {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 2px;
  font-size: 14px;
}

.commentLikeShare img {
  width: 20px;
  height: 20px;
}

.cardTitle {
  margin: 0px 10px;
}

.cardBody {
  margin: 10px;
}

.card:hover {
  cursor: pointer;
}

.bar__input {
  width: 37vw;
  height: 10vh;
  padding: 0.5rem;
  font-size: 12px;
  color: rgba(5, 5, 5, 0.8);
  flex: 1;
  border-radius: 5px;
}

.bar__input::placeholder {
  opacity: 0.8;
}

.bar__input:focus::-webkit-input-placeholder {
  opacity: 0.6;
}

button {
  color: white;
  background: royalblue;
  border: none;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 10px;
  padding: 5px;
  width: 10vw;
  cursor: pointer;
}

.navigate {
  margin: 4rem;
}

.navigate button {
  bottom: 0;
  cursor: pointer;
  color: white;
  background: royalblue;
  border: none;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 10px;
  padding: 5px;
  width: 10vw;
}

.navigate button a {
  color: white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
  .card {
    flex-basis: 70%;
    margin-top: 10px;
  }

  .cardContainer {
    height: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .card {
    flex-basis: 40%;
    margin-top: 10px;
  }

  .cardContainer {
    height: 75vh;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .card {
    flex-basis: 80%;
    margin-top: 10px;
  }

  .cardContainer {
    height: 75vh;
  }
}

@media only screen and (max-width: 992px) {
  .cardContainer {
    height: 70vh;
  }
  .card {
    margin-top: 10px;
    flex-wrap: nowrap;
  }
}
