body {
  padding: 0;
  margin: 0;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: fit-content;
  margin: auto;
  background-color: rgb(224, 224, 224);
}

.display {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 100vw;
  background-color: #282e5c;
}

.display p {
  width: 30vw;
  margin-bottom: 100px;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 450px;
  width: 100vw;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  block-size: fit-content;
  margin: 1rem;
  flex-basis: 20%;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #464545;
  background: white;
  padding: 0;
  margin-top: -150px;
  /* min-height: 375px; */
  color: black;
}

.card:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.card:active {
  background-color: rgb(243, 243, 168);
}

.cardHeader {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 5px;
  background: #3c4252;
  color: white;
}

.cardHeader img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.cardTitle {
  margin: 0px 10px;
}

.cardValue {
  text-align: center;
  margin: 30px 10px;
  font-size: x-large;
}

.mutedText {
  color: gray;
  font-size: small;
}

.cardBody {
  margin: 10px;
}

.footer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  color: black;
}

.footerP {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
}

.footer-text {
  margin: 2rem;
  flex-basis: 40%;
}

button,
button:hover button:active {
  cursor: pointer;
  color: white;
  background: royalblue;
  border: none;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 10px;
  padding: 5px;
  width: 10vw;
}

button:active {
  background: darkcyan;
}

.navigate button {
  bottom: 0;
  margin: auto;
  cursor: pointer;
  color: white;
  background: royalblue;
  border: none;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 10px;
  padding: 5px;
  width: 10vw;
}

.navigate button a {
  color: white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
  .card {
    flex-basis: 80%;
    margin-top: 10px;
  }
  .display {
    height: 25vh;
  }
  .display p {
    width: 70vw;
    margin-bottom: 10px;
  }
  .cardContainer {
    height: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .card {
    flex-basis: 40%;
    margin-top: 10px;
  }
  .display {
    height: 25vh;
  }
  .display p {
    width: 70vw;
    margin-bottom: 10px;
  }
  .cardContainer {
    height: 75vh;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .card {
    flex-basis: 80%;
    margin-top: 10px;
  }
  .display {
    height: 25vh;
  }
  .display p {
    width: 70vw;
    margin-bottom: 10px;
  }
  .cardContainer {
    height: 75vh;
  }
}

@media only screen and (max-width: 992px) {
  .display {
    height: 30vh;
  }
  .cardContainer {
    height: 70vh;
  }
  .card {
    margin-top: 10px;
    flex-wrap: nowrap;
  }
}
