body {
  padding: 0;
  margin: 0;
  background-color: rgb(226, 226, 226);
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
  line-height: normal;
}

a {
  text-decoration: none;
  color: cornflowerblue;
}

h6,
p {
  color: gray;
  font-size: smaller;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  block-size: fit-content;
  margin: 1rem;
  flex-basis: 20%;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 0px 2px #888888;
  padding: 0;
}

.cardHeader {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 10px;
}

.cardHeader img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.cardHeader h6 {
  margin: 5px;
}

img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.cardTitle {
  margin: 0px 10px;
}

.cardBody {
  margin: 10px;
}

.card:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.commentLikeShare {
  display: flex;
  padding: 0.2rem;
  margin-left: auto;
}

.commentLikeShare img {
  width: 20px;
  height: 20px;
  margin: 0.2rem;
}

.navigate {
  display: flex;
  justify-content: center;
}

.navigate button,
.overlay-card button {
  margin: 5px;
  cursor: pointer;
  color: white;
  background: royalblue;
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 10vw;
}

.navigate button a,
.overlay-card button a {
  color: white;
}

#pop-up {
  width: 0;
  height: 0;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  text-align: center;
  padding: 25px 0px;
  /* taruh transisi di kondisi awal */
  transition: 0.5s;
}

#pop-up:target {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  /* transition: .8s; */
}

.overlay-card {
  text-align: justify;
  width: 300px;
  padding: 20px;
  background: white;
  border-radius: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 400px) {
  .card {
    flex-basis: 80%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .card {
    flex-basis: 80%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .card {
    flex-basis: 40%;
  }
}

@media only screen and (min-width: 992px) {
  .card {
    flex-basis: 40%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    flex-wrap: nowrap;
  }
}
